.main{
    width: 100%;
    height: 100px;
   
    
    
}
.nav{
    width: 1200px;
    height: 75px; 
    display: flex;
    background-color: rgb(255, 255, 255);
    

}
.logo{
    float: left;
    width: 20%;
 height: 75px;
 background: transparent;
}
.logo img{
    width: 100px;
    
}
.manu ul{
    width: 60%;
    float: left;
    display: flex;

}
.manu ul li{
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul li a{
    text-decoration: none;
    padding: 3rem;
    font-size: 16px;
    font-family: sans-serif;
    color: orange;
  
}
.search{
    width: 20%;
    height: 75px;
    float: left;
}
.src{
     justify-content: center;
    align-items: center;
    margin-top: 0.9rem;
    height: 1.6rem;
    border: 1px solid orange;
    border-radius: 2rem;
}
table{
   border-collapse: collapse;
   width: 60%;
   margin-bottom: 30px;
}
.a{
    color: aliceblue;
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    height: 2rem;
}
th{
    height: 1.5rem;
}
td{
    text-align: center;
}
